<%- include ./partials/header -%>

<h1>Home</h1>

<p><%= homeText %></p>

<% posts.forEach( post => { %>
<h1><%= post.title %></h1>

<% let body = post.body %>
<% let preview = body.substring(0, 100) %>
<p><%= preview + "..." %> <a href="/posts/<%= post.title %>">Read More</a></p>
<% }) %>



<%- include ./partials/footer -%>
